.navbar {
  .navbar_list {
  .nav_link {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(173, 35, 40);
    font-weight: bold;
    line-height: 4.286;
  //   position: absolute;
  //   left: 359.795px;
  //   top: 141.248px;
  //   z-index: 559;
  }
}
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(173, 35, 40);
}
